/* button {
  height: 30px;
  width: 30px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
} */

body {
  width: 300px;
  font-family: Avantgarde, 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
}

.tab {
  padding: 5pt 25pt;
  font-size: 10pt;
  display: flex;
}

.tab:hover {
  background-color: lightblue;
  /* Change mouse pointer */
  cursor: pointer;
}

.tab-list {
  margin-top: 25px;
}

.list-title {
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  background-color: white;

  padding-top: 5px;
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
}

.muted {
  background: url('./images/volume-mute.svg');
}

.audible {
  background: url('./images/volume-up.svg');
}

.sound-icon {
  flex: 0 0 20px;
  height: 20px;
  align-self: center;
  margin-left: 8px;


  background-size: 20px 20px;
  background-repeat: no-repeat;
}

